h2, h5, h6 {
    font-family: "Nova Square", sans-serif;
    color: black;
}

h4 {
    font-family: "Oxanium", sans-serif;
    color: #00fb63;
}

h3 {
    font-size: 1.8rem;
    font-family: "Nova Square", sans-serif;
    color: black;
}

h1 {
    color: white;
    text-shadow: -1px 0 #00fb63, 0 1px #00fb63, 1px 0 #00fb63, 0 -1px #00fb63;
    text-align: center;
    font-size: 4rem;
}

label {
    color: white;
    font-size: 1.1rem;
    font-family: "Oxanium", sans-serif;
    margin-left: 5%;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: black;
}

button {
    font-family: "Oxanium", sans-serif;
    color: black;
    font-size: 1rem;
    margin: 15px 0;
}

.selection-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.buttons-container {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#rock-selection, #paper-selection, #scissors-selection, #random-selection {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: transform 0.2s;
}

#rock-selection:hover, #paper-selection:hover, #scissors-selection:hover, #random-selection:hover {
    transform: scale(1.05);
}

#pwResult {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00fb63;
    background-color: black;
    padding: 0.5rem;
}

#make-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    width: 300px;
    border-color: #00fb63;
    background-color: black;
    text-shadow: -1px 0 #00fb63, 0 1px #00fb63, 1px 0 #00fb63, 0 -1px #00fb63;
}

.regular:hover {
    background-color: #00fb63;
    transition: background-color 0.2s ease-in-out;
}

.random:hover {
    background-color: #5fd6f6;
    transition: background-color 0.2s ease-in-out;
}

.secret-weapon:hover {
    background-color:#f65f5f;
    transform: scale(1.05);
}

.submit:hover {
    background-color: #00fb63;
    transition: background-color 0.2s ease-in-out;
}

#secret-weapon {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: transform 0.2s;
}

#password {
    padding: 10px 15px;
    border: 2px solid; 
    border-radius: 8px;
    background-color: black;
    color: white;
    font-family: "Oxanium", sans-serif;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#password:focus {
    border-color: #00fb63; /* Change border on focus */
    box-shadow: 0 0 8px #00fb63; /* Adds a glow effect */
}

#password.password-correct {
    border-color: #00fb63; 
    box-shadow: 0 0 8px #00fb63; /* Green for correct */
}

#password.password-almost {
    border-color: #f6b55f;
    box-shadow: 0 0 8px #f6b55f; /* Orange-yellow for close guesses */
}

#password.password-incorrect {
    border-color: #f65f5f; 
    box-shadow: 0 0 8px #f65f5f/* Red for incorrect */
}

#submit-pw {
    margin-right: 5%;
}

#secret-pw {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

#results, #user-choice, #comp-choice {
    font-family: "Space Grotesk", sans-serif;
    color: white;
}

#winner {
    font-family: "Oxanium", sans-serif;
    color:#00fb63;
}

@media (max-width: 600px) {

    .buttons-container {
        flex-direction: column;
        gap: 8px;
    }

    #submit-pw {
        margin: 0 auto;
    }

    #password, #pwResult {
        margin-right: 0;
        margin-left: 0;
    }

    label {
        margin-left: 0;
        text-align: center; /* Smaller font size for mobile */
        width: 100%;
    }

    #secret-pw {
        flex-direction: column;
        gap: 8px;
    }
}
